@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './variables';
@import './header';
@import './content-main';
@import './footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  .page-width {
    padding: 0 15px;
  }
}

